.contact{
    padding-top: 20px;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        @media (min-width: 768px){
            padding: 30px 50px;
        };
        @media (min-width: 1200px){
            padding: 30px 200px;
        };
        &--message{
            padding: 0px 40px;
            line-height: 40px;
            text-align:center;
            @media (min-width: 768px){
                font-size: 1.4rem;
            };
        };
        &--link{
            text-decoration: none;
            background-color: $blackColor;
            padding: 5px 10px;
            border-radius: 20px;
            color: $bkColor;
            margin: auto;
            @media (min-width: 768px){
                font-size: 1.2rem;
            };
        };
    };    
};