@use "./core/variables.scss" as variables;
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    align-self: center;
    &__icons{
        display: flex;
        flex-direction:row;
        list-style: none;
        gap: 10px;
        a{
            color: variables.$fontColor;
        }
    }
    &__name{
        a{
            color: variables.$fontColor;
        }
    }
}