@import "./core/reset.scss";
@import "./core/variables.scss";
@import "./header.scss";
@import "./landing.scss";
@import "./illustrations.scss";
@import "./about.scss";
@import "./footer.scss";


:root {
    background-color: $bkColor;
    color: $fontColor;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}