@use "./core/reset.scss";
@use "./core/variables.scss" as variables;
@use "./header.scss";
@use "./landing.scss";
@use "./illustrations.scss";
@use "./about.scss";
@use "./contact.scss";
@use "./footer.scss";
@use "./imagemodal.scss";


:root {
    background-color: variables.$bkColor;
    color: variables.$fontColor;
}

body {
    font-family: "Nunito", sans-serif;
  }
  