.test{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.landing{
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        list-style: none;
        &--li{
            font-size:1.8rem;
            a {
                text-decoration: none;
                color: $fontColor;
            }
        }
    
    }
}
