.landing{
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__logo{
        width: 400px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        list-style: none;
        &--li{
            font-size:1.8rem;
            a {
                text-decoration: none;
                color: $fontColor;
            }
        }
    
    }
}

