.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 15%;
    &__logo{
        width: 250px;
    }
    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 200px;
        list-style: none;
        &--li{
            font-size:x-large;
            a {
                text-decoration: none;
                color: $fontColor;       
                &:hover {
                    text-decoration: underline; 
                }
            }        
        }
    
    }
}